[Unit]
Description=Xiccd Screen Color Profiler
Documentation=man:xiccd(8)
PartOf=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/bin/xiccd
Restart=always

[Install]
WantedBy=dbus.service
